<div class="home">
  <header>
    <div class="logo">
      <img src="../../assets/images/logo.png" alt="Logo" />
      <p>Vaša mašta - vaša bašta</p>
    </div>
    <div class="buttons">
      <div class="button" [routerLink]="'/'">Početna strana</div>
      <div (click)="logoutUser()" class="button">Odjavi se</div>
    </div>
  </header>
  <div class="content">
    <div class="table-container">
      <table>
        <thead>
          <th>Firma izvršitelj</th>
          <th>Veličina zelene površine</th>
          <th>Veličina bazena/fontane</th>
          <th>Datum kreiranja</th>
          <th>Datum radova</th>
          <th>Radovi</th>
          <th colspan="2"></th>
        </thead>
        <tbody>
          <tr *ngFor="let request of displayedRequests">
            <td>{{ request.companyId.name }}</td>
            <td>{{ request.gardenArea }}</td>
            <td>{{ request.greenArea }}</td>
            <td>{{ request.createdAt }}</td>
            <td>{{ request.requestCompletedAt }}</td>
            <td>{{ getWorks(request) }}</td>
            <td><textarea #textareaRef></textarea></td>
            <td>
              <div class="buttons-final">
                <div
                  class="button"
                  id="decision"
                  (click)="approveRequest(request)"
                >
                  Potvrdi
                </div>
                <div
                  class="button"
                  id="decision"
                  (click)="rejectRequest(textareaRef, request)"
                >
                  Odbi
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <footer>Copyrighted © 2024 Vaša bašta</footer>
</div>
