/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;

  font-family: "Roboto", sans-serif;
}

* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

p {
  margin: 0;
}
