<div class="home">
  <header>
    <div class="logo">
      <img src="../../assets/images/logo.png" alt="Logo" />
      <p>Vaša mašta - vaša bašta</p>
    </div>
    <div class="buttons">
      <div *ngIf="!isLoggedIn()" class="button" [routerLink]="'login'">
        Prijavi se
      </div>
      <div *ngIf="!isLoggedIn()" class="button" [routerLink]="'register'">
        Registruj se
      </div>
      <div *ngIf="isLoggedIn()" class="button" [routerLink]="'password-change'">
        Promeni šifru
      </div>
      <div *ngIf="isLoggedIn()" (click)="logoutUser()" class="button">
        Odjavi se
      </div>
    </div>
  </header>
  <div *ngIf="!isLoggedIn()" class="content">
    <p>Na našoj platformi se nalazi</p>
    <div class="fact">{{ ownerCount }} vlasnika</div>
    <div class="fact">{{ workerCount }} dekoratora</div>
    <div class="fact">
      {{ contractCount }} zakazanih poslova u proteklih
      <select [(ngModel)]="selectedTime" (change)="updateContactCount($event)">
        <option
          *ngFor="let availableTime of availableTimes"
          [value]="availableTime.displayValue"
        >
          {{ availableTime.displayValue }}
        </option>
      </select>
    </div>
  </div>
  <div *ngIf="isLoggedInOwner()" class="content">
    <div class="button" [routerLink]="'profile'">Profil</div>
    <div class="button">Firme</div>
    <div class="button">Zakazivanja</div>
    <div class="button">Održavanje</div>
  </div>
  <div *ngIf="isLoggedInWorker()" class="content">
    <div class="button" [routerLink]="'profile'">Profil</div>
    <div class="button">Zakazivanja</div>
    <div class="button">Održavanja</div>
    <div class="button">Statistika</div>
  </div>
  <div *ngIf="isLoggedInAdmin()" class="content">
    <div class="button">Pregled zahteva</div>
    <div class="button">Pregled prijavljenih entiteta</div>
    <div class="button">Dodavanje novih dekoratora</div>
    <div class="button">Dodavanje novih firmi</div>
  </div>
  <footer>Copyrighted © 2024 Vaša bašta</footer>
</div>
