<div class="home">
  <header>
    <div class="logo">
      <img src="../../assets/images/logo.png" alt="Logo" />
      <p>Vaša mašta - vaša bašta</p>
    </div>
    <div class="buttons">
      <div class="button" [routerLink]="'/'">Početna strana</div>
      <div (click)="logoutUser()" class="button">Odjavi se</div>
    </div>
  </header>
  <div class="content">
    <div
      [chart]="barChart"
      style="display: block; width: 450px; height: 450px"
    ></div>
    <div
      [chart]="pieChart"
      style="display: block; width: 450px; height: 450px"
    ></div>
    <div
      [chart]="histogramChart"
      style="display: block; width: 450px; height: 450px"
    ></div>
  </div>
  <footer>Copyrighted © 2024 Vaša bašta</footer>
</div>
